.join {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.joinbox {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-content: center;
}

.joinform {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.join table {
  width: 80%;
  font-size: 15px;
  margin: auto;
}

.join table .inputbox input,
.join table .inputbox select {
  background-color: var(--purple);
  border-radius: 5px;
}

.join .inputbox {
  width: 190px;
  height: 30px;
  border-radius: 25px;
}
