.statusbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 25px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: var(--white);
}

.statusbar a {
  color: var(--color-text);
  font-size: 20px;
}

.statusbar span {
  font-size: 15px;
  font-weight: bolder;
}
