* {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

body {
  background-color: var(--white);
}

:root {
  --black: #000;
  --white: #fff;
  --blue: #cae8e3;
  --pink: #f6e4d5;
  --yellow: #ffd080;

  --bg-body: #f3f8fe;
  --bg-main: #fdfdfd;
  --bg-second: #c3c2c8;
  --color-hover: #edf0f5;
  --color-text: #151426;

  --gray: #eeeeee;
  --purple: #a69fef;

  --border: 1px solid rgba(0, 0, 0, 0.2);
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --box--shadow: 0 7px 7px rgba(0, 0, 0, 0.05);
}

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 18px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
  background-color: var(--white);
}

header .logo {
  color: var(--color-text);
  font-size: 18px;
  padding-left: 8px;
}

header .navbar a {
  font-size: 18px;
  border-radius: 5px;
  padding: 10px 14px;
  color: var(--color-text);
  display: flex;
}

header .navbar a:hover {
  background-color: #a69fef;
  color: var(--color-hover);
}

header .icons i {
  font-size: 18px;
  color: var(--color-text);
  text-align: center;
  background-color: #a69fef;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
}

header .icons {
  display: none;
}

.home {
  width: 100vw;
  height: 400px;
  background-color: var(--gray);
  margin-bottom: 20px;
}

.home .home-photo {
  width: 100%;
  height: 100%;
}

.home .home-photo img {
  width: 100%;
  height: 100%;
}

.calender {
  width: 100vw;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: column;
}

.calender .calender-subject {
  width: 90%;
  height: 10%;
  display: flex;
  margin-bottom: 5px;
  font-size: 15px;
}

.calender .calender-box {
  width: 90%;
  height: 80%;
  background-color: var(--gray);
  border-radius: 25px;
  box-shadow: var(--box--shadow);
}

.notice,
.book {
  width: 100vw;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  flex-direction: column;
}

.notice .notice-subject {
  width: 90%;
  height: 10%;
  display: flex;
  margin-bottom: 15px;
  font-size: 15px;
}

.book .book-subject {
  width: 90%;
  height: 10%;
  display: flex;
  margin-bottom: 15px;
  font-size: 15px;
}

.notice .notice-box,
.book .book-box {
  width: 90%;
  height: 80%;
  background-color: var(--gray);
  border-radius: 25px;
  box-shadow: var(--box--shadow);
  padding: 15px;
}

.notice .notice-heading {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  cursor: pointer;
}

.notice .notice-heading h3,
.notice .notice-heading i {
  font-size: 13px;
  line-height: 8px;
}

.notice-container1 {
  margin-bottom: 35px;
}

.notice .notice-content {
  font-size: 10px;

  display: none;
}

.notice .notice-content1.active,
.notice .notice-content2.active {
  display: block;
}

.footer {
  width: 100vw;
  height: 150px;
}

@media screen and (max-width: 768px) {
  header .icons {
    display: inline-block;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 10px;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    background-color: var(--white);
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  header .navbar a {
    display: block;
    padding: 8px;
    margin: 3px;
    font-size: 15px;
  }
}
