.header {
  display: flex;
  width: 100%;
  position: relative;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  background-color: var(--light-gray);
  padding: 15px 25px;
  position: absolute;
}

.navbar_logo {
  display: flex;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  width: auto;
}

.navbar_logo span {
  font-family: "KOTRAHOPE";
}

.navbar_logo img {
  width: 55px;
  height: 55px;
}

.navbar_menu {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  width: auto;
}

.navbar_menu a {
  width: auto;
}

.navbar_menu li {
  width: 100%;
  padding: 8px 18px;
  font-size: 18px;
  text-align: center;
}

.navbar_menu li:hover {
  padding: 8px 18px;
  border-radius: 12px;
  background-color: var(--purple);
  color: var(--color-hover);
}

.navbar_pcicon {
  display: flex;
  font-size: 24px;
  width: auto;
  justify-content: flex-end;
}

.navbar_pcicon button {
  font-size: 16px;
  background-color: var(--purple);
  border-radius: 10px;
  padding: 5px 10px;
}

.navbar_icon {
  display: none;
  width: auto;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  list-style: none;
  font-size: 22px;
}

.navbar_icon li {
  padding: 8px 5px;
}

.navbar_menu .current {
  padding: 8px 18px;
  border-radius: 12px;
  background-color: var(--purple);
  color: var(--color-hover);
}

.navbar_mobilelogo {
  display: none;
  width: auto;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  list-style: none;
  font-size: 22px;
}

@media screen and (max-width: 768px) {
  .navbar {
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
  }

  .navbar_logo {
    display: none;
  }

  .navbar_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--white);
    z-index: 100;
  }

  .navbar_menu a {
    width: 100%;
  }

  .navbar_menu li {
    font-size: 15px;
    width: 100%;
    padding: 12px 18px;
  }

  .navbar_menu li:hover {
    padding: 12px 18px;
  }

  .navbar_pcicon {
    display: none;
  }

  .navbar_icon {
    display: flex;
  }

  .navbar_menu.active {
    display: flex;
    margin-top: 70px;
  }

  .navbar_logo {
    font-size: 18px;
  }

  .navbar_mobilelogo {
    display: flex;
  }

  .mobile_title {
    font-size: 20px;
    font-family: "GangwonEdu_OTFBoldA";
    position: absolute;
    left: 150px;
    top: 30px;
  }

  #sm-login {
    position: absolute;
    right: 43px;
    top: 30px;
  }

  #menu-bars {
    position: absolute;
    right: 13px;
    top: 30px;
  }

  #header-before {
    position: absolute;
    left: 13px;
    top: 22px;
  }
}
/* header {
  height: 55px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  z-index: 1000;
}

header .navbar a {
  font-size: 18px;
  border-radius: 5px;
  padding: 10px 14px;
  color: var(--color-text);
  display: flex;
}

header .navbar a:hover {
  background-color: var(--purple);
  color: var(--color-hover);
}

header .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 10px;
}

header .icons {
  display: none;
}

header .icons #sm-login {
  margin-left: -60px;
  font-size: 20px;
}

header .icons #home-bar {
  margin-left: -60px;
  font-size: 20px;
}

header .icons #join-home {
  font-size: 20px;
}
header #header-before {
  color: var(--color-text);
  font-size: 22px;
}

header .header-menu {
  position: fixed;
  font-size: 20px;
  color: var(--color-text);
}

header #header-name {
  font-size: 20px;
  font-family: "GangwonEdu_OTFBoldA";
}

header .header-title {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
} */
